body{
    font-family: 'Muli', sans-serif;
    background: #fafafa;
}
.header{
    padding:20px;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    background: white;
    z-index:99;
    border-bottom:1px solid #dbdbdb;
}
.header .nav-header{
    position: relative;
    width:72%;
    margin:auto;
}
.header .nav-header .nav-cell{
    display: inline-block;
    
}
.brand-icon{
    position: relative;
    top:5px;
}
.brand-name {
    position: relative;
    /* font-weight: bold; */
    
}

.cell-left{
    position:absolute;
    top:-5px;
    right:0px;
}
.l5{
    margin-right:40px;
}
.l10{
    margin-right:80px;
}

.project{
    position: relative;
    display: block;
    width:960px;
    margin:auto;
    margin-top:80px;
    height:100%;    
    color: #33739E;
}
.content {
    display:none;
    float:left;
    padding: 10px;
    width:280px;
    height:250px;;
    margin:10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    background-position: center;
    background-size: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;    
}
.content:hover>.content-wrap{
    display:block;
    position:absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    background-color:rgba(0, 0, 0, 0.5);
}
.content-place{
    display: none;
    position:relative;
    z-index:99;
    background-color:rgba(255,255,255, 0.9);
    width:280px;
    height:150px;
    bottom:-100px;
    
    
}
.content:hover>.content-place{
    display: block;
    
}
.content .content-place .content-menu .link{
    display: inline-block;
    margin:20px;
    border: none;
    background: none;
    cursor: pointer;
    
}

.pop{
    position: fixed;
    top:80px;
    left:80px;
    bottom:30px;
    border:1px solid #dbdbdb;
    width:1200px;
    height:500px;
    z-index:99;
    box-shadow:0px 0px 20px #a0a0a0;
}
.pop-close{
    position:fixed;
    color:white;
    top:10px;
    right: 20px;
    font-size:20pt;
    cursor:pointer;
    text-shadow:0px 0px 2px #888;
    
}
.pop-wrap{
    display:block;
    position: fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    background-color:rgba(0, 0, 0, 0.2);
    z-index:-1;
}
.pop div{
    float: left;
}
.pop-content::after{
    position:relative;
    top:20px;
    content: "* double click for zoom";
}
.pop .board{
    position:relative;
    width:280px;
    height: 480px;
    padding:10px;
    background: #fff;
    border-left:1px solid #efefef ;
}
.link:hover{
    opacity:0.2;
}
.clear{
    clear: both;
}

.nav-content{
    background-color: #fff;
    width: 400px;
    margin: 10px auto;
    color: #444;
    border:1px solid #dbdbdb;
    border-radius:30px;
}
.nav-content-err{
    display: none;
    width: 400px;
    margin: 10px auto;
    padding:10px;
    
}
.nav-content-err{
    color: #444;
    text-align: center;
    font-size: 14pt;
}
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}
.totop a {
    display: none;
}
a, a:visited {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
a:hover {
    text-decoration: none;
}
#loadMore {
    display: block;
    width:100%;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    background-color: #fff;
    color: #33739E;
    border:none;
    background: none;
    text-align: center;
    font-size:12pt;
    font-family:'Muli';
    
}
.swiper-container {
    background:#eee;
    width: 898px;
    height: 500px;
  }
  .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    background-position:center center;
    width: 700px;
    height: 500px;
  }
  .swiper-slide {
    overflow: hidden;
  }
.swiper-button-next{
    
    max-width:20px;
    max-height:20px;
    margin-right:20px;
    background:#fff;
    padding:5px;
    border-radius:100%;
    border:1px solid #dbdbdb;
    
}
.swiper-button-prev{
    
    max-width:20px;
    max-height:20px;
    margin-left:20px;
    background:#fff;
    padding:5px;
    border-radius:100%;
    border:1px solid #dbdbdb;
}
.swiper-button-next::after{
    content: "\203A";
    font-size:30pt;
    position:relative;
    top:-14px;
    left:6px;
    color:#dbdbdb;
}
.swiper-button-prev::after{
    content: "\2039";
    font-size:30pt;
    position:relative;
    top:-14px;
    left:3px;
    color:#dbdbdb;
}



  
  /**
   * Tooltip Styles
   */
  
  /* Base styles for the element that has a tooltip */
  [data-tooltip],
  .tooltip {
    position: relative;
    cursor: pointer;
  }
  
  /* Base styles for the entire tooltip */
  [data-tooltip]:before,
  [data-tooltip]:after,
  .tooltip:before,
  .tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: 
        opacity 0.2s ease-in-out,
          visibility 0.2s ease-in-out,
          -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
      -moz-transition:    
          opacity 0.2s ease-in-out,
          visibility 0.2s ease-in-out,
          -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
      transition:         
          opacity 0.2s ease-in-out,
          visibility 0.2s ease-in-out,
          transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:    translate3d(0, 0, 0);
    transform:         translate3d(0, 0, 0);
    pointer-events: none;
  }
  
  /* Show the entire tooltip on hover and focus */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after,
  [data-tooltip]:focus:before,
  [data-tooltip]:focus:after,
  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  
  /* Base styles for the tooltip's directional arrow */
  .tooltip:before,
  [data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
  }
  
  /* Base styles for the tooltip's content area */
  .tooltip:after,
  [data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    /* background-color: hsla(0, 0%, 20%, 0.9); */
    color: #fff;
    content: attr(data-tooltip);
    font-size: 14px;
    line-height: 1.2;
    border-radius:8px;
    text-align:center;
  }
  
  /* Directions */
  
  /* Top (default) */
  [data-tooltip]:before,
  [data-tooltip]:after,
  .tooltip:before,
  .tooltip:after,
  .tooltip-top:before,
  .tooltip-top:after {
    bottom: 100%;
    left: 50%;
  }
  
  [data-tooltip]:before,
  .tooltip:before,
  .tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    /* border-top-color: hsla(0, 0%, 20%, 0.9); */
  }
  
  /* Horizontally align top/bottom tooltips */
  [data-tooltip]:after,
  .tooltip:after,
  .tooltip-top:after {
    margin-left: -80px;
  }
  
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after,
  [data-tooltip]:focus:before,
  [data-tooltip]:focus:after,
  .tooltip:hover:before,
  .tooltip:hover:after,
  .tooltip:focus:before,
  .tooltip:focus:after,
  .tooltip-top:hover:before,
  .tooltip-top:hover:after,
  .tooltip-top:focus:before,
  .tooltip-top:focus:after {
    -webkit-transform: translateY(-12px);
    -moz-transform:    translateY(-12px);
    transform:         translateY(-12px); 
  }
  
  /* Left */
  .tooltip-left:before,
  .tooltip-left:after {
    right: 100%;
    bottom: 50%;
    left: auto;
  }
  
  .tooltip-left:before {
    margin-left: 0;
    margin-right: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-left-color: #000;
    /* border-left-color: hsla(0, 0%, 20%, 0.9); */
  }
  
  .tooltip-left:hover:before,
  .tooltip-left:hover:after,
  .tooltip-left:focus:before,
  .tooltip-left:focus:after {
    -webkit-transform: translateX(-12px);
    -moz-transform:    translateX(-12px);
    transform:         translateX(-12px); 
  }
  
  /* Bottom */
  .tooltip-bottom:before,
  .tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
  }
  
  .tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    /* border-bottom-color: hsla(0, 0%, 20%, 0.9); */
  }
  
  .tooltip-bottom:hover:before,
  .tooltip-bottom:hover:after,
  .tooltip-bottom:focus:before,
  .tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform:    translateY(12px);
    transform:         translateY(12px); 
  }
  
  /* Right */
  .tooltip-right:before,
  .tooltip-right:after {
    bottom: 50%;
    left: 100%;
  }
  
  .tooltip-right:before {
    margin-bottom: 0;
    margin-left: -12px;
    border-top-color: transparent;
    border-right-color: #000;
    /* border-right-color: hsla(0, 0%, 20%, 0.9); */
  }
  
  .tooltip-right:hover:before,
  .tooltip-right:hover:after,
  .tooltip-right:focus:before,
  .tooltip-right:focus:after {
    -webkit-transform: translateX(12px);
    -moz-transform:    translateX(12px);
    transform:         translateX(12px); 
  }
  
  /* Move directional arrows down a bit for left/right tooltips */
  .tooltip-left:before,
  .tooltip-right:before {
    top: 3px;
  }
  
  /* Vertically center tooltip content for left/right tooltips */
  .tooltip-left:after,
  .tooltip-right:after {
    margin-left: 0;
    margin-bottom: -16px;
  }